 *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;

}
body{
    font-weight: 400;
    line-height: 1;
    font-family: 'Dosis', sans-serif;
    color: #555;
    overflow-x: hidden;
}
/****************************************************************/
/******************** reuseable componenets *********************/

.grid{
    display: grid;
    gap: 9.6rem;
    column-gap: 6.4rem ;


}
.step-img-box{
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;

}

.step-img-box::after,
.step-img-box::before{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    border-radius: 50%;
    z-index: -1;
}

.step-img-box::before{
    width: 60%;
    padding-bottom: 60%;
    background-color:#fdf2e9; 
    z-index: -2;
   
}

.step-img-box::after{
    width: 45%;
    padding-bottom: 45%;
    background-color:#fae5d3 ;
    z-index: -1;


}

.grid--center--v{
    align-items: center;
}
.grid--2--clm{
    grid-template-columns: repeat(2, 1fr);
}
.grid--3--clm{
    grid-template-columns: repeat(3, 1fr);
}
.grid--4--clm{
    grid-template-columns: repeat(4, 1fr);
}
.grid--5--clm{
    grid-template-columns: repeat(5, 1fr)
}

.grid:not(:last-child){
    margin-bottom: 9.6rem;
}

.container{
    /* 1140px */
    max-width: 120rem;
    padding: 0 3.2rem;
    margin: 0 auto;
}

.heading-primary,
.heading-secondry,
.heading-tertiary{
    font-size: 5.2rem;
    font-weight: 700;
    color: #333;

}

.heading-primary{
    line-height: 1.05;
    letter-spacing: -0.7px;
    margin-bottom: 3.2rem;
}

.heading-secondry{
    font-size: 4.4rem;
    line-height: 1.2;
    margin-bottom: 9.6rem;

}
.heading-tertiary{
    font-size: 3.6rem;
    line-height: 1.2;
    margin-bottom: 3.2rem;
    
}

.subheading{
    display: block;
    font-size: 1.6rem;
    font-weight: 500;
    color: #cf711f;
    text-transform: uppercase;
    margin-bottom: 1.6rem;
    letter-spacing: 0.75px;
    


}
.step-num-{
    font-size: 6.8rem;
    width: 600;
    color: #ddd;
    margin-bottom: 1.8rem;

}

*:focus{
    outline: none;
    box-shadow: 0 0 0 0.8rem #e67d22a1;
}


.btn,
.btn:link,
.btn:visited{
    display: inline-block;
    padding: 1.6rem 3.2rem;
    font-size: 2rem;
    border-radius: 0.9rem;
    text-decoration: none;

    /* ....only necessery for .btn.... */
    border: none;
    cursor: pointer;

    transition: background 0.1s ;
}

.btn--form{
    background-color: #45260a;
    color: #fdf2e9;
    padding: 1.2rem;
    align-self: end;

}

.btn--form:hover{
    background-color: #fff;
    color: #555;
}

 .btn--full:link,
 .btn--full:visited{
     color: #fff;
     background-color: #e67e22;
 }

 .btn--full:hover,
 .btn--full:active{
    color: #fff;
    background-color: #cf711f;
 }

 .btn--out:link,
 .btn--out:visited{
     color: #555;
     background-color: #fff;

 }

 .btn--out:hover,
 .btn--out:active{
     color: #555;
      box-shadow: inset 0 0 0 3px #fff; 
     background-color: #fdf2e9;
 }
 .link:link,
 .link:visited{
    display: inline-block;
    transition: 0.3s;
    padding-bottom: 2px;
    text-decoration: none;
    color: #e67e22;
    border-bottom: solid 1px currentColor;
 }
 
 .link:hover,
 .link:active{
     text-decoration: none;
     color: #e67e22;
     border-bottom: solid 1px transparent;
 }

 .list{
	list-style: none;
	display: flex;
	flex-direction: column;
	gap: 1.6rem;
	
}

.list-item{
	font-size: 1.8rem;
	display: flex;
	align-items: center;
	gap: 1.6rem;
}

.list-icon {
	color: #e67e22;
	width: 3rem;
	height: 3rem;

}

 .margin-right-sm{
     margin-right: 1.5rem !important;
 }

 .strong{
     font-weight: 500;
 }
 .margin-bottom-md{
     margin-bottom: 4.8rem !important;
 }

 .center-text{
    text-align: center;
 }

 

 

